<div class="playlist">
  <div class="song-row header">
    <div class="song-number">#</div>
    <div class="song-title">Title</div>
    <div class="song-album">Album</div>
    <div class="song-duration">Duration (ms)</div>
  </div>
  <div class="song-row" *ngFor="let track of tracks; let i = index" (click)="track.isLocal && onSongClick(i)" [class.active]="isActive(i)" [class.disabled]="!track.isLocal">
    <div class="song-number">{{ i + 1 }}</div>
    <div class="song-title">
      <img [src]="track.album.images[0].url" alt="Album Art" class="album-art">
      <div class="song-info">
        <div class="track-name">{{ track.name }} <span *ngIf="track.isLocal">(Local)</span></div>
        <div class="artist-name">{{ track.artists[0].name }}</div>
      </div>
    </div>
    <div class="song-album">{{ track.album.name }}</div>
    <div class="song-duration">{{ track.duration_ms }}</div>
  </div>
</div>